#related-product-image {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.custom-product-card {
  border-radius: 15px;
  transition: all 0.5s 0.2s;
}

.custom-product-card:hover {
  transform: scale(1.2);
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-link:hover {
  text-decoration: none;
  color: black;
}
