.bg-image {
  background: url("../../public/assets/craft-beer-category.jpg") no-repeat center center;
  /* background: url("https://images.unsplash.com/photo-1612528443702-f6741f70a049?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80")
    no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 75vh;
}

.bg-opacity {
  min-height: 75vh;
  background-color: rgba(0, 0, 0, 0.562);
}
